/* = require_tree .*/

body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 100px;
	font-family: calibri, sans-sarif;
	font-weight: bold;
}

h2 {
	font-size: 70px;
	font-family: calibri, sans-sarif;
	font-weight: bold;
}

h3 {
	font-size: 50px;
	font-family: calibri, sans-sarif;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.position {
	font-size: 40px;
	font-family: calibri, sans-sarif;
	font-style: oblique;
}

div.name {
	font-size: 50px;
	font-family: calibri, sans-sarif;
}


/*
::selection { background: #111; }
​
body {
  background-color: #333;
  color: #fff;
  font-family: Helvetica, Arial, sans-sarif;
  margin: 0;
}
​
header {
  background-color: #222;
  border-bottom: 5px solid #111;
  font-size: .5em;
  margin-bottom: 2em;
  padding: .5em;
  text-align: center;
}
​
h1 {
  border-bottom: 1px solid #fff;
  color: #f2f2f2;
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 5em;
  margin: .5em 0;
  text-shadow: 5px 5px #000;
}
​
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
​
article {
  border-top: #000 3px solid;
  margin: 1em;
  width: 100%;
}
  .ca { border-color: #0075c3; }
  .cs { border-color: #00c29b; }
  .devops { border-color: #00c009; }
  .it { border-color: #c0b000; }
  .ops { border-color: #c00000; }
  .pm { border-color: #8d00c1; }
​
h2 {
  background-color: #222;
  border-bottom: 2px solid #111;
  color: #f2f2f2;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: .5em;
  text-align: center;
  text-shadow: 3px 3px #000;
}
​
dl { padding: 0 .5em; }
​
dt {
  color: #ccc;
  font-size: .8em;
  margin-top: 1em;
  text-transform: uppercase;
}
​
dd {
  font-size: 1.6em;
  margin: 0;
  text-shadow: 2px 2px #000;
}
​
@media (min-width: 499px) {
  header { font-size: .75em; }
  article { width: 42%; }
}
​
@media (min-width: 769px) {
  header { font-size: 1em; }
  article { width: 14em; }
}
*/