/* = require_tree .*/

body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 80px;
	font-family: calibri, sans-sarif;
	font-weight: bold;
}

h2 {
	font-size: 60px;
	font-family: calibri, sans-sarif;
	font-weight: bold;
}

h3 {
	font-size: 40px;
	font-family: calibri, sans-sarif;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.position {
	font-size: 30px;
	font-family: calibri, sans-sarif;
	font-style: oblique;
}

div.name {
	font-size: 40px;
	font-family: calibri, sans-sarif;
}

