/* = require_tree .*/

body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 80px;
	font-family: sans-serif, serif;
	font-weight: bold;
}

h2 {
	font-size: 60px;
	font-family: sans-serif, Serif;
	font-weight: bold;
}

h3 {
	font-size: 40px;
	font-family: sans-serif, Serif;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.position {
	font-size: 25px;
	font-family: sans-serif, Serif;
	font-style: oblique;
    color: orange;
}

div.name {
	font-size: 40px;
	font-family: sans-serif, Serif;
}
div.phone {
    font-size: 25px;
    font-family: sans-serif, Serif;
}
