/* = require_tree .*/

/*body {
	background-color: black;
	color: white;
}*/

@media screen and (min-device-width: 801px) {
	body {
		background-color: black;
		color: white;
	}
}

@media screen and (max-device-width: 800px) {
	body {
		background-color: white;
		color: black;
	}
}

h1 {
	font-size: 8vh;
	font-family: sans-serif, serif;
	font-weight: bold;
}

h2 {
	font-size: 4.5vh;
	font-family: sans-serif, Serif;
	font-weight: bold;
}

/*h3 {
	font-size: 30vb;
	font-family: sans-serif, Serif;
}*/
.container {
	width: 90%;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.position {
	font-size: 2.5vh;
	font-family: sans-serif, Serif;
	font-style: oblique;
    color: orange;
}

div.name {
	font-size: 3.5vh;
	font-family: sans-serif, Serif;
}

/*div.phone {
    font-size: 20vb;
    font-family: sans-serif, Serif;
}
*/